/*

Meesh Template

*/

/*-------------------------------------------*/
/*------------------ FONTS ------------------*/
/*-------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Space+Grotesk|Manrope:600);

@font-face {
    font-family: 'ny';
    src:  url('https://sites.super.so/slite/assets/ny.woff') format('woff'),
          url('https://sites.super.so/slite/assets/ny.ttf') format('truetype');
}

/*-------------------------------------------*/
/*---------------- VARIABLES ----------------*/
/*-------------------------------------------*/

:root {
    --color-bg-default: #fff !important;
    --color-border-default: rgba(0,0,0,0.2) !important;
    --color-card-bg: transparent !important;
    
    --color-text-default: #000 !important;
    --color-text-gray: var(--color-bg-default) !important;
    
    --shadow-lg: 0 40px 80px -20px rgb(0,0,0,0.1) !important;
    --shadow-md: 0 20px 40px -20px rgb(0,0,0,0.2) !important;
    --shadow-sm: 0 10px 20px -10px rgb(0,0,0,0.1) !important;

    --transition: all .3s cubic-bezier(0.8,0.04,0.4,1) !important;
    --column-spacing: 30px !important;
    --font: 'Manrope', sans-serif !important;
}

/*-------------------------------------------*/
/*-------------- FADE ANIMATION -------------*/
/*-------------------------------------------*/

body {
    background: radial-gradient(50% 70% at 55% 70%, #f2d2c474 0%, rgba(255, 211, 200, 0.04) 100%),
    radial-gradient(70% 90% at 86% 97%, #71ad9060 0%, rgba(230, 245, 255, 0) 70%),
    #ebebe8 !important;
    background-attachment: fixed !important;
    -webkit-animation: fadeIn 1s !important;
    -moz-animation: fadeIn 1s !important;
    animation: fadeIn 1s !important;
}
@keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@-moz-keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes fadeIn { 0% {  opacity: 0; } 100% { opacity: 1; } }

/*-------------------------------------------*/
/*-------------- MISCELLANEOUS --------------*/
/*-------------------------------------------*/

.super-navbar {
    background: transparent!important;
}

.max-width {
    max-width: 80% !important;
    width: 800px !important;
    padding: 20px !important;
}

.super-content {
    -webkit-animation: fadeInLeft 1s !important;
    -moz-animation: fadeInLeft 1s !important;
    animation: fadeInLeft 1s !important;
    padding: 0 0 60px !important;
}

@keyframes fadeInLeft { 0% { transform: translate3d(-40px,0,0); } 100% { transform: translate3d(0,0,0); } }
@-moz-keyframes fadeInLeft { 0% { transform: translate3d(-40px,0,0); } 100% { transform: translate3d(0,0,0); } }
@-webkit-keyframes fadeInLeft { 0% { transform: translate3d(-40px,0,0); } 100% { transform: translate3d(0,0,0); } }

.notion-column-list {
    align-items: center !important;
}

.notion-divider {
    border-bottom: 1px solid var(--color-border-default) !important;
}

.notion-image,
.notion-image div {
    overflow: visible !important;
}

.notion-image img {
    box-shadow: var(--shadow-lg) !important;
    border-radius: 8px;
    overflow: hidden;
}

html {
	min-height: 100%;
	position: relative;
}

.super-content.max-width {
	max-width: 1200 !important;
	margin-bottom: min(400px,150%) !important;
}

.footer.super-content.max-width {
    margin-bottom: 0px !important;
}

/*-------------------------------------------*/
/*-------------- HIDDEN CONTENT -------------*/
/*-------------------------------------------*/

.notion-property__title__icon-wrapper,
.notion-header__content,
.notion-toggle.bg-brown,
.notion-callout__icon,
.notion-page__icon,
.notion-navbar {
    display: none !important;
}

/*-------------------------------------------*/
/*--------------- TYPOGRAPHY ----------------*/
/*-------------------------------------------*/

h1, h2, h3 {
    font-family: 'Manrope' !important;
    font-weight: 300 !important;
}

h1 {
    margin-top: 20px !important;
    margin-bottom: 10px !important;
    font-size: 48px !important;
}

h2 {
    font-size: 30px !important;
    margin-bottom: 10px !important;
}

h3 {
    font-size: 22px !important;
    margin-bottom: 12px !important;
}

p {
    font-family: 'Space Grotesk';
    font-weight: 200 !important;
    font-size: 16 !important;
    line-height: 1.5 !important;
}

.notion-text {
    min-height: calc(1.22rem) !important; 
}

.notion-root > .notion-link {
    transition: var(--transition) !important;
    border: none !important;
    opacity: 0.4 !important;
}

.notion-semantic-string .link:hover {
    opacity: 1 !important;
}

/*-------------------------------------------*/
/*---------------- GALLERY ------------------*/
/*-------------------------------------------*/

.notion-collection-gallery {
    display: flex !important;
    flex-direction: column;
    border: none !important;
}

.notion-collection__header {
    font-size: 30px !important;
    color: #50897b
}

.notion-collection-card {
    grid-template-columns: min-content !important;
    transition: var(--transition) !important;
    padding-bottom: 30px !important;
    align-items: center !important;
    overflow: visible !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    grid-gap: 30px !important;
    display: grid !important;
}

.notion-collection-card:hover {
    transform: translateX(18px) !important;
    background: none !important;
    opacity: 0.6 !important;
}

.notion-collection-card__cover {
    box-shadow: var(--shadow-md) !important;
}

.notion-collection-card__cover,
.notion-collection-card__cover div,
.notion-collection-card__cover img {
    border-radius: 12px !important;
    min-height: 100px !important;
    max-height: 100px !important;
    height: 100px !important;
    width: 160px !important;
}

.notion-property__title,
.notion-collection-card__content {
    margin: 0 !important;
}

.notion-property__title {
    font-family: var(--font) !important;
    grid-column-start: 2 !important;
    grid-row-start: 1 !important;
    font-size: 24px !important;
}

.notion-collection-card__content {
    align-items: flex-start !important;
    grid-column-start: 2 !important;
    grid-row-start: 1 !important;
    font-size: 14px !important;
    opacity: 0.6 !important;
}

/*-------------------------------------------*/
/*-------------- CALLOUT BLOCK --------------*/
/*-------------------------------------------*/

.notion-callout {
    background: var(--color-bg-default) !important;
    transition: var(--transition) !important;
    box-shadow: var(--shadow-sm) !important;
    border-radius: 80px !important;
    position: relative !important;
    padding: 24px !important;
    border: none !important;
    top: 2px !important;
}

.notion-callout:hover {
    opacity: 0.5 !important;
}

.notion-callout a {
    justify-content: center !important;
    align-items: center !important;
    position: absolute !important;
    padding-top: 2px !important;
    display: flex !important;
    height: 100% !important;
    border: none !important;
    width: 100% !important;
    opacity: 1 !important;
    left: 0 !important;
    top: 0 !important;
}

/*-------------------------------------------*/
/*---------------- CODE BLOCK ---------------*/
/*-------------------------------------------*/

.notion-semantic-string .code {
    color: var(--color-text-default) !important;
    background: rgba(0,0,0,0.04) !important;
    display: inline-block !important;
    padding: 10px 16px !important;
    font-size: 12px !important;
    margin: 8px 0 !important;
}

/*-------------------------------------------*/
/*----------------- MOBILE ------------------*/
/*-------------------------------------------*/

@media (max-width: 400px) {
    h1 {
        font-size: 32px !important;
    }
    .notion-collection-card {
        display: block !important;
    }
    .notion-collection-card__cover {
        margin: 12px 0 !important;
    }
    .notion-property__title,
    .notion-collection-card__content {
        height: auto !important;
        width: 100% !important;
    }
}
